@page
@model Client.Pages.ForgetPassword.ConfirmOTPModel
@{
    Layout = "_Layout";
}


<body>
    <section class="login_part padding_top d-flex justify-content-center align-items-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h2>
                                Confirm OTP
                            </h2>
                            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                                <div class="creat_account d-flex align-items-center">
                                    <label>We have sent OTP to reset your password and please enter it here</label>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="username" name="username" value=""
                                           placeholder="OTP">
                                </div>

                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn_3">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
   

