@page
@model AdminModel
@{
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bi</title>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranoz</title>
    <link rel="icon" href="~/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="bg-light">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="container">
            <div class="card p-4 shadow">
                <h1 class="mb-4">Admin</h1>

                <div class="row mb-3">
                    <div class="col-md-12 text-end">
                        <a href="/Admin/Brand/Index" class="btn btn-danger">Brand</a>
                        <a href="/Admin/Category/Index" class="btn btn-danger">Category</a>
                        <a href="/Admin/Order/Index" class="btn btn-danger">Order</a>
                        <a href="/Admin/Product/Index" class="btn btn-danger">Product</a>
                        <a href="/Admin/User/Index" class="btn btn-danger">User</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>