@page "{id:int}"
@model Client.Pages.Admin.Category.UpdateModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bi</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranoz</title>
    <link rel="icon" href="~/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="bg-light">
    @if (Model.Categories == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="container mt-4">
            <div class="card p-4 shadow">
                <h1 class="mb-4">Edit Categories</h1>
                <form method="post">
                    <div class="mb-3 row">
                        <label for="id" class="col-sm-2 col-form-label">Id</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="id" name="id" value="@Model.Categories.Id" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" value="@Model.Categories.Name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-primary" name="submit">Update</button>
                            <a href="/Admin/Category/Index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
</body>
</html>
