@page
@model Client.Pages.Account.Order.OrderDetailModel
@{
}
<body class="bg-light">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="container">
            <div class="card p-4 shadow">
                <h1 class="mb-4">Order Detail</h1>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-2">Image</th>
                                <th class="col-md-2">Product Name</th>
                                <th class="col-md-3">Price</th>
                                <th class="col-md-2">Quantity</th>
                                <th class="col-md-2">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var od in Model.OrderDetails)
                            {
                                <tr>
                                    <td><img src="~/@od.ImgSource" /></td>
                                    <td>@od.ProductName</td>
                                    <td>@od.UnitPrice</td>
                                    <td>@od.Quantity</td>
                                    <td>@od.TotalPrice</td>
                                </tr>
                            }
                            

                        </tbody>
                    </table>
                    <a href="/Account/Order/Index" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</body>